.text2{
    width: 1154px;
    height: 431px;
    position: absolute;
    top: 1590px;
    left: 90px;
    color: white;
};
.future{
    width: 426px;
    height: 180px;
    color: ( #AE67FA );
    };
    .future2{
        width: 590px;
        height: 428px;
        position: absolute;
        top: 10px;
        left: 600px;
        
    }
    .textinfo1{
        width: 590px;
        height: 92px;
        position: absolute;
        top: 0px;
        left: 10px;
        gap: 20px;
        text-align: center;
        color: blue;



    }
    .textinfo1{
        width: 590px;
        height: 92px;
        position: absolute;
        top: 0px;
        left: 10px;
        gap: 20px;
        text-align: center;
        color: blue;



    }
    .textinfo1{
        width: 590px;
        height: 92px;
        position: absolute;
        top: 0px;
        left: 10px;
        gap: 20px;
        text-align: center;
        color: blue;

    }
    .textinfo1{
        width: 590px;
        height: 92px;
        position: absolute;
        top: 0px;
        left: 10px;
        gap: 20px;
        text-align: center;
        color: blue;

    }
    .textinfo1{
        width: 590px;
        height: 92px;
        position: absolute;
        top: 0px;
        left: 10px;
        gap: 20px;
        text-align: left;
        color: blue;

    }
    .Imp{
        color: white;
        position: absolute;
        top: 5px;
    }
    .From{
        position: absolute;
        top: 60px;
    }
    .textinfo2{
        width: 590px;
        height: 120px;
        position: absolute;
        top: 200px;
        left: 10px;
        gap: 20px;
        text-align: left;
        color: blue;

    }
    .Become{
        color: white;
        position: absolute;
        top: 0;

    }
    .Con{
        position: absolute;
        top: 60px;
    }


    
    .textinfo3{
        width: 590px;
        height: 92px;
        position: absolute;
        top: 350px;
        left: 10px;
        gap: 20px;
        text-align: left;
        color: blue;
    }
    .Mes{
        color: white;

    }
    .Led{
        position: absolute;
        top: 80px;
    }