.text{
    width: 1176px;
    height: 663px;
    top: 1149px;
    left: 135px;
    background-color:rgb(2, 2, 61);
    position: absolute;
    left: 90px;
    top:  800px;

    

}
.zagolovok{
    color: white;
    text-align: left;
    font-size: 40px;
    position: absolute;
    top: 70px;
    left: 70px;
    
    
}
.T1{
    color: rgb(110, 110, 235);
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    width: 734px;
    height: 92px;
  position: absolute;
  top: 110px;
  left:  400px; 
}
.zagolovok2{
 color: violet;
  font-size: 54px;
  text-align: left;
  width: 474px;
  height: 90px;
  position: absolute;
  top: 200px;
  left: 100px;

        
}
.groups{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 400px;
    left: 100px;
}
.Ghat{
    color: white;
    text-align: left;

}
.T2{
    color: rgb(117, 117, 241);
    font-size: 24px;
    text-align: left;
}
.zagolovok3{
    color: white;
    font-size: 34px;
    text-align: left;
}
.zagolovok1{
    color: white;
    text-align: left;
    font-size: 34px;
}
.T3{
    color: rgb(110, 110, 231);
    font-size: 24px;
}
.T4{
    color: rgb(120, 120, 231);
    font-size: 24px;
}