.fomen{
    position: absolute;
    top: 2200px;
    left: 100px;
}

.fomeninfo{
    color: rgb(92, 7, 92);
    width: 500px;
    height: 90px;
    font-family: Manrope;
    font-size: 44px;
    font-weight: 800;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: absolute;
    top: 120px;
    left: 650px;
    }

    .fomeninfo2{
        color: white;
        position: relative;
        top: -250px;
        left: 650px;
        font-size: 26px;
        width: 500px;
        height: 70px;

    }