.form{
   width: 456px;
   height: 73px;
top: 624px;
left: 138px;
background-color:  #052D56 !important;


};
.button{

    width: 114px;
    height: 27px;
    top: 644px;
    left: 628px;
    gap: 0px;
     font-family: Manrope;
     background: #FF4820 !important;
    

};
