.text{
font-family: Manrope;
font-size: 12px;
font-weight: 500;
line-height: 37.61px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background: #FFFFFF;


};