.gradient {
    font-size: 40px;
    background: $gradient;
    background-clip: text;
    color: transparent;
}
.info{
width: 779.29px;
height: 557.89px;
top: 216px;
left: 136px;
gap: 0px;
border-radius: 5px 0px 0px 5px;
opacity: 0px;

}